/* Сбросил стили базовые */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #333333;
}


.container {
    max-width: 1180px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;  
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
}

.title__over {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #1E0606;
}

.btn {
    display: block;
    text-transform: uppercase;
    border: none;
    width: 181px;
    height: 40px;
    color: #fff;
    background: #008752;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    padding: 11px;
    cursor: pointer;
}

/* стилизация хедера */

.header {
    display: flex;
    align-items: center;
    margin-top: 33px;
    margin-bottom: 33px;
}

.header__list {
    display: flex;
    margin-right: auto;
}

.header__list-item {
    margin-right: 15px;
}

.header__contact {
    display: flex;
    align-items: center;
}

.header__contact-phone,
.header__contact-search {
    margin-right: 24px;
}