.banner__wrap {
    display: flex;
}

.handle {
    display: flex;
    flex-direction: column;
}

.handle__item {
    width: 30px;
    height: 3px;
    background: rgba(30, 6, 6, 0.6);
    margin-bottom: 11px;
}

.banner {
    background: #E0E7ED; 
    background-image: url('/image/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 143px 0 286px;
    margin-bottom: 80px;
}
/* 
.title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 90px;
    line-height: 100%;
    color: #00559D;
    width: 80%;
    margin-bottom: 50px;
    margin: 0;
    letter-spacing: -1px;
} */
/* 
.servises__title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 100%;
    color: #00559D;
    text-transform: uppercase;
    text-align: center;
} */

.servises__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.servises__list-item {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 10px;
}

.about {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 110px;
}

.about__wrap {
    display: flex;
    flex-direction: column;
    max-width: 480px;
}

.about::after {
    content: '';
    display: block;
    position: absolute;
    top: 30px;
    right: -110px;
    width: 570px;
    height: 480px;
    background: #008752;
}

.about-img {
    z-index: 1;
}

.footer {
    background-color: #00559D;
}



.popup {
    position: fixed;
    background: rgba(125, 151, 218);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}

.popup-form {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 680px;
    padding: 50px;
    background-color: #499d00;
}

.open {
    display: block;
}


.fieldset-double {
    display: flex;
    justify-content: space-between;
}

.label-wrapper {
    display: flex;
    flex-direction: column;
}

.field-inner__wrap {
    display: flex;
    flex-direction: column;
}

.servises__list-item {
    background-color: #008752;
}

.servises__list-title {
    color: white;
}

.breadcrumps {
    display: flex;
    gap: 20px;
}

.breadcrumps__item-home:last-child:after {
    content: '';
    display: inline-block;
    background-image: url(../icon/arrow__right.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 12px;
}

.section__text {
    display: flex;
    gap: 50px;
}

.sec__first {
    padding: 20px;
    background-color: #008752;
    width: 290px;
    height: 200px;
}

.sec__second {
    padding: 20px;
    background-color: #008752;
    width: 290px;
}

.sec__first-title {
    margin-top: -30px;
}


/* input */
input {
    border: 2px solid rgba(0, 0, 0, 0.5);
    font-size: 18px;
}


/* popup  */

